.producto{

    display:table;

    width:100%;

    margin-bottom:6px;

}


.producto span{

    display:table-cell;

}


.producto span:last-child{

    text-align:right;

}

.producto:hover{

    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.imagen-producto{

    height:180px;
    object-fit:cover;

}

.sin-imagen{

    height:180px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    background:#f4f4f4;

}

.precio{

    color:#198754;
    font-weight:bold;
}

.sku{

    color:#888;
    font-size:13px;
}

.carrito{

    position:sticky;
    top:20px;
}

.agregar{

    margin-top:15px;
}

.resumen{

    width:300px;

    margin-left:auto;

    font-size:18px;

}


.resumen div{

    display:flex;

    justify-content:space-between;

    margin-bottom:8px;

}


.total{
    font-size:24px;
    font-weight:bold;
    text-align:right;
    margin-top:10px;
}

.nombre{

    width:200px;

}

.no-pdf{
    display:none;
}

@media print{

body{
    background:white;
}


.boleta{

    margin:0;

    width:80mm;

}


.botones{

    display:none;

}

}

.timbre{

    text-align:center;

    font-size:10px;

    margin-top:10px;

    line-height:14px;

}