body{
    background: linear-gradient(135deg,#0d6efd,#6ea8fe);
}

.logo{
    width:150px;
    height:150px;
    object-fit:contain;
}


.card{
    border-radius:20px;
}

.sidebar{

    width:260px;
    min-height:100vh;
    background:#0d6efd;
    color:white;
    padding:20px;

}


.sidebar a{

    color:white;
    text-decoration:none;
    display:block;
    padding:12px;

}


.sidebar a:hover{

    background:rgba(255,255,255,0.2);
    border-radius:8px;

}


.menu{

    list-style:none;
    padding:0;

}


.content{

    background:#f5f6fa;
    min-height:100vh;

}

.table-nowrap td,
.table-nowrap th{
    white-space: nowrap;
}

.nombre-empresa{
    font-size:20px;
    font-weight:bold;
    margin-top:5px;
}

.numero-boleta{
    font-size:20px;
    font-weight:bold;
}

.linea-producto{
    border-bottom:1px dotted #999;
    padding-bottom:5px;
    margin-bottom:8px;
}

.no-pdf{
    display:block;
}

@media print{
    .no-pdf{
        display:none;
    }
}

@media print{

body{
    background:white;
}


.boleta{

    margin:0;

    width:80mm;

}


.botones{

    display:none;

}

}

.timbre{

    text-align:center;

    font-size:10px;

    margin-top:10px;

    line-height:14px;

}

