{% extends "base.html" %}


{% block titulo %}
Cambiar contraseña
{% endblock %}



{% block contenido %}


<div class="container">


<div class="card shadow">


<div class="card-header bg-warning">


<h4>

🔐 Cambiar contraseña

</h4>


</div>



<div class="card-body">



{% if mensaje %}

<div class="alert alert-info">

{{ mensaje }}

</div>

{% endif %}




<form method="POST">



<label class="form-label">

Contraseña actual

</label>


<input
type="password"
name="actual"
class="form-control mb-3"
required>




<label class="form-label">

Nueva contraseña

</label>


<input
type="password"
name="nueva"
class="form-control mb-3"
required>




<label class="form-label">

Confirmar nueva contraseña

</label>


<input
type="password"
name="confirmar"
class="form-control mb-3"
required>





<button class="btn btn-success">

💾 Guardar contraseña

</button>



<a href="/perfil"
class="btn btn-secondary">

Cancelar

</a>



</form>



</div>


</div>


</div>



{% endblock %}