{% extends "base.html" %}


{% block titulo %}
Categorías
{% endblock %}



{% block contenido %}


<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>
        📂 Categorías
    </h2>

</div>



<div class="card shadow mb-4">

    <div class="card-header">
        Nueva categoría
    </div>


    <div class="card-body">


        <form method="POST" action="/categorias/crear">


            <div class="mb-3">

                <label class="form-label">
                    Nombre
                </label>

                <input 
                    type="text"
                    name="nombre"
                    class="form-control"
                    placeholder="Ej: Computadores"
                    required>

            </div>



            <div class="mb-3">

                <label class="form-label">
                    Descripción
                </label>


                <textarea
                    name="descripcion"
                    class="form-control"
                    placeholder="Descripción de la categoría"></textarea>


            </div>



            <button class="btn btn-primary">

                Guardar categoría

            </button>


        </form>


    </div>

</div>





<div class="card shadow">


    <div class="card-header">

        Lista de categorías

    </div>



    <div class="card-body">


        <table class="table table-striped">


            <thead>

                <tr>

                    <th>ID</th>

                    <th>Nombre</th>

                    <th>Descripción</th>

                    <th>Estado</th>

                    <th>Acciones</th>

                </tr>

            </thead>



            <tbody>


            {% for categoria in categorias %}


                <tr>

                    <td>
                        {{ categoria.id }}
                    </td>


                    <td>
                        {{ categoria.nombre }}
                    </td>


                    <td>
                        {{ categoria.descripcion }}
                    </td>


                    <td>

                        <span class="badge bg-success">

                            {{ categoria.estado }}

                        </span>

                    </td>


                    <td>


                        <a href="/categorias/eliminar/{{ categoria.id }}"
                           class="btn btn-danger btn-sm">

                            Eliminar

                        </a>


                    </td>


                </tr>


            {% else %}


                <tr>

                    <td colspan="5" class="text-center">

                        No existen categorías

                    </td>

                </tr>


            {% endfor %}


            </tbody>


        </table>


    </div>


</div>



{% endblock %}