{% extends "base.html" %}

{% block titulo %}
Clientes
{% endblock %}


{% block contenido %}

<div class="container-fluid">


<h2 class="mb-4">

<i class="bi bi-people-fill"></i>

Clientes

</h2>



<!-- =========================
     NUEVO CLIENTE
========================= -->


<div class="card shadow mb-4">


<div class="card-header bg-primary text-white">

<h5 class="mb-0">
Nuevo Cliente
</h5>

</div>



<div class="card-body">


<form method="POST" action="/clientes/crear">


<div class="row">



<div class="col-md-4 mb-3">

<label class="form-label">
Nombre
</label>


<input
type="text"
name="nombre"
class="form-control"
required>

</div>




<div class="col-md-2 mb-3">

<label class="form-label">
RUT
</label>


<input
type="text"
name="rut"
class="form-control">

</div>




<div class="col-md-2 mb-3">

<label class="form-label">
Teléfono
</label>


<input
type="text"
name="telefono"
class="form-control">

</div>




<div class="col-md-2 mb-3">

<label class="form-label">
Email
</label>


<input
type="email"
name="email"
class="form-control"
required>

</div>




<div class="col-md-2 mb-3">

<label class="form-label">
Dirección
</label>


<input
type="text"
name="direccion"
class="form-control">

</div>


</div>




<button class="btn btn-success">

<i class="bi bi-plus-circle"></i>

Guardar Cliente

</button>



</form>


</div>

</div>






<!-- =========================
     LISTA CLIENTES
========================= -->


<div class="card shadow">


<div class="card-header">

<h5 class="mb-0">

Lista de Clientes

</h5>

</div>




<div class="card-body">


<table class="table table-hover align-middle">


<thead class="table-dark">


<tr>

<th>ID</th>
<th>Nombre</th>
<th>RUT</th>
<th>Teléfono</th>
<th>Email</th>
<th>Estado</th>
<th>Acciones</th>


</tr>


</thead>




<tbody>


{% for cliente in clientes %}


<tr>


<td>
{{ cliente.id }}
</td>


<td>
{{ cliente.nombre }}
</td>


<td>
{{ cliente.rut }}
</td>


<td>
{{ cliente.telefono }}
</td>


<td>
{{ cliente.email }}
</td>



<td>

<span class="badge bg-success">

{{ cliente.estado }}

</span>

</td>




<td>


<button
class="btn btn-warning btn-sm"
data-bs-toggle="modal"
data-bs-target="#editar{{ cliente.id }}">


<i class="bi bi-pencil"></i>


</button>




<a href="/clientes/eliminar/{{ cliente.id }}"
class="btn btn-danger btn-sm"
onclick="return confirm('¿Eliminar cliente?')">


<i class="bi bi-trash"></i>


</a>


</td>


</tr>


{% endfor %}



</tbody>


</table>


</div>


</div>





<!-- =========================
     MODALES EDITAR
========================= -->


{% for cliente in clientes %}



<div class="modal fade"
id="editar{{ cliente.id }}"
tabindex="-1">


<div class="modal-dialog">


<div class="modal-content">



<div class="modal-header bg-warning">


<h5 class="modal-title">

Editar Cliente

</h5>


<button
type="button"
class="btn-close"
data-bs-dismiss="modal">

</button>


</div>





<form method="POST"
action="/clientes/editar/{{ cliente.id }}">



<div class="modal-body">



<label class="form-label">
Nombre
</label>


<input
type="text"
name="nombre"
class="form-control"
value="{{ cliente.nombre }}"
required>




<label class="form-label mt-3">
RUT
</label>


<input
type="text"
name="rut"
class="form-control"
value="{{ cliente.rut }}">




<label class="form-label mt-3">
Teléfono
</label>


<input
type="text"
name="telefono"
class="form-control"
value="{{ cliente.telefono }}">




<label class="form-label mt-3">
Email
</label>


<input
type="email"
name="email"
class="form-control"
value="{{ cliente.email }}"
required>




<label class="form-label mt-3">
Dirección
</label>


<input
type="text"
name="direccion"
class="form-control"
value="{{ cliente.direccion }}">



</div>





<div class="modal-footer">


<button
type="submit"
class="btn btn-success">

Guardar cambios

</button>



<button
type="button"
class="btn btn-secondary"
data-bs-dismiss="modal">

Cancelar

</button>


</div>



</form>



</div>


</div>


</div>



{% endfor %}



</div>


{% endblock %}