{% extends "base.html" %}


{% block titulo %}

Dashboard

{% endblock %}



{% block contenido %}


<h2 class="mb-4">

    Dashboard

</h2>



<div class="row">


    <div class="col-md-3">


        <div class="card shadow text-center p-3">


            <h5>
                📦 Productos
            </h5>


            <h2>
                0
            </h2>


        </div>


    </div>



    <div class="col-md-3">


        <div class="card shadow text-center p-3">


            <h5>
                📂 Categorías
            </h5>


            <h2>
                0
            </h2>


        </div>


    </div>




    <div class="col-md-3">


        <div class="card shadow text-center p-3">


            <h5>
                ⚠ Stock Bajo
            </h5>


            <h2>
                0
            </h2>


        </div>


    </div>




    <div class="col-md-3">


        <div class="card shadow text-center p-3">


            <h5>
                📥 Movimientos
            </h5>


            <h2>
                0
            </h2>


        </div>


    </div>



</div>



{% endblock %}