{% extends "base.html" %}

{% block titulo %}
Dashboard InventarioPro
{% endblock %}

{% block contenido %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="container-fluid py-4">

     {% include "dashboard/_header.html" %}

     {% include "dashboard/_filtros.html" %}

     {% include "dashboard/_kpis.html" %}

     {% include "dashboard/_graficos.html" %}

   <div class="row mt-4">


    <div class="col-lg-9">


        {% include "dashboard/_alertas.html" %}


        {% include "dashboard/_actividad.html" %}


        {% include "dashboard/_tablas.html" %}



    </div>




    <div class="col-lg-3">


        {% include "dashboard/_usuario.html" %}



    </div>



</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const categorias = {{ categorias|tojson }};

const movimientos = {{ movimientos|tojson }};

const ventas7dias = {{ grafico_ventas|tojson }};

const comparativo = {{ comparativo|tojson }};

const ganancias = {{ ganancias|tojson }};

</script>

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock %}