<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>InventarioPro</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">


<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h1>
                📦 InventarioPro
            </h1>

            <hr>

            <h3>
                Bienvenido {{ usuario }}
            </h3>

            <p>
                Rol: {{ rol }}
            </p>


            <a href="/logout" class="btn btn-danger">
                Cerrar sesión
            </a>

        </div>

    </div>

</div>


</body>

</html>