{% extends "base.html" %}

{% block titulo %}
Editar Usuario
{% endblock %}


{% block contenido %}


<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-8">


            <!-- DATOS USUARIO -->

            <div class="card shadow mb-4">


                <div class="card-header bg-warning">

                    <h4 class="mb-0">
                        ✏️ Editar Usuario
                    </h4>

                </div>


                <div class="card-body">


                    <form method="POST"
                          action="/usuarios/actualizar/{{ usuario.id }}">


                        <div class="row">


                            <div class="col-md-6 mb-3">


                                <label class="form-label">
                                    Nombre completo
                                </label>


                                <input
                                    type="text"
                                    name="nombre"
                                    class="form-control"
                                    value="{{ usuario.nombre }}"
                                    required>


                            </div>



                            <div class="col-md-6 mb-3">


                                <label class="form-label">
                                    Usuario
                                </label>


                                <input
                                    type="text"
                                    name="usuario"
                                    class="form-control"
                                    value="{{ usuario.usuario }}"
                                    required>


                            </div>



                        </div>



                        <div class="row">


                            <div class="col-md-6 mb-3">


                                <label class="form-label">
                                    Rol
                                </label>


                                <select
                                    name="rol"
                                    class="form-select">


                                    <option value="Administrador"
                                    {% if usuario.rol == "Administrador" %}
                                    selected
                                    {% endif %}>
                                        Administrador
                                    </option>


                                    <option value="Vendedor"
                                    {% if usuario.rol == "Vendedor" %}
                                    selected
                                    {% endif %}>
                                        Vendedor
                                    </option>


                                </select>


                            </div>



                            <div class="col-md-6 mb-3">


                                <label class="form-label">
                                    Estado
                                </label>


                                <input
                                    class="form-control"
                                    value="{{ usuario.estado }}"
                                    readonly>


                            </div>


                        </div>



                        <div class="text-end">


                            <a href="/usuarios"
                               class="btn btn-secondary">

                                Cancelar

                            </a>


                            <button class="btn btn-success">

                                💾 Guardar cambios

                            </button>


                        </div>


                    </form>


                </div>


            </div>





            <!-- CAMBIAR PASSWORD -->


            <div class="card shadow">


                <div class="card-header bg-info text-white">

                    🔒 Cambiar contraseña

                </div>


                <div class="card-body">


                    <form method="POST"
                          action="/usuarios/password/{{ usuario.id }}">


                        <div class="row">


                            <div class="col-md-8">


                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Nueva contraseña"
                                    required>


                            </div>


                            <div class="col-md-4">


                                <button class="btn btn-dark w-100">

                                    Cambiar contraseña

                                </button>


                            </div>


                        </div>


                    </form>


                </div>


            </div>


        </div>


    </div>


</div>


{% endblock %}