{% extends "base.html" %}


{% block titulo %}
Productos
{% endblock %}



{% block contenido %}


<h2 class="mb-4">

📦 Productos

</h2>



<div class="card shadow mb-4">


<div class="card-header">

Nuevo producto

</div>



<div class="card-body">


<form 
method="POST" 
action="/productos/crear"
enctype="multipart/form-data">



<div class="row">


<div class="col-md-6 mb-3">

<label class="form-label">

Nombre producto

</label>


<input
type="text"
class="form-control"
name="nombre"
placeholder="Ej: Notebook Lenovo"
required>


</div>




<div class="col-md-3 mb-3">

<label class="form-label">

Categoría

</label>


<select class="form-select" name="categoria_id">


<option selected>

Seleccione

</option>


{% for categoria in categorias %}

<option value="{{ categoria.id }}">

{{ categoria.nombre }}

</option>


{% endfor %}


</select>


</div>




<div class="col-md-3 mb-3">

<label class="form-label">

Marca

</label>


<select class="form-select" name="marca_id">


<option selected>

Seleccione

</option>


{% for marca in marcas %}

<option value="{{ marca.id }}">

{{ marca.nombre }}

</option>


{% endfor %}


</select>


</div>


</div>




<div class="row">


<div class="col-md-6 mb-3">


<label>

Stock inicial

</label>


<input
type="number"
class="form-control"
name="stock"
value="0">

<div class="mb-3">

<label class="form-label">
📷 Imagen del producto
</label>


<input
type="file"
class="form-control"
name="imagen"
accept="image/*">

</div>


</div>




<div class="col-md-6 mb-3">


<label>

Precio

</label>


<input
type="number"
class="form-control"
name="precio"
value="0">


</div>


</div>




<button class="btn btn-primary">

Guardar producto

</button>


</form>


</div>


</div>






<div class="card shadow">


<div class="card-header">

Lista de productos

</div>

<form method="GET" action="/productos" class="mb-3">

    <div class="input-group">

        <input 
        type="text"
        name="buscar"
        class="form-control"
        placeholder="Buscar producto, categoría o marca">

        <button class="btn btn-primary">

            🔎 Buscar

        </button>

    </div>

</form>



<div class="card-body">


<table class="table table-striped table-hover align-middle text-center">


<thead>

<tr>

<th>ID</th>
<th>SKU</th>
<th>Imagen</th>
<th>Producto</th>
<th>Categoría</th>
<th>Marca</th>
<th>Stock</th>
<th style="width:120px;">Precio</th>
<th>Acciones</th>


</tr>

</thead>



<tbody>


{% for producto in productos %}


<tr>


<td>

{{ producto.id }}

</td>

<td>

{% if producto.sku %}

{{ producto.sku }}

{% else %}

Sin SKU

{% endif %}

</td>

<td>

{% if producto.imagen %}

<img 
src="{{ url_for('static', filename='uploads/productos/' + producto.imagen) }}"
width="60"
height="60"
class="rounded">

{% else %}

<span>
Sin imagen
</span>

{% endif %}

</td>


<td>

{{ producto.nombre }}

</td>


<td>

{{ producto.categoria }}

</td>


<td>

{{ producto.marca }}

</td>


<td>

{% if producto.stock == 0 %}

<span class="badge bg-danger">
    🔴 {{ producto.stock }}
</span>


{% elif producto.stock <= 5 %}

<span class="badge bg-warning text-dark">
    🟡 {{ producto.stock }}
</span>


{% else %}

<span class="badge bg-success">
    🟢 {{ producto.stock }}
</span>


{% endif %}

</td>


<td style="white-space: nowrap;">

$ {{ "{:,.0f}".format(producto.precio) }}

</td>

<td class="text-nowrap">

<a href="/productos/editar/{{ producto.id }}"
class="btn btn-warning btn-sm me-1">

✏️ Editar

</a>


<a href="/productos/eliminar/{{ producto.id }}"
class="btn btn-danger btn-sm"
onclick="return confirm('¿Eliminar producto?')">

🗑️ Eliminar

</a>


<a href="/movimientos/producto/{{ producto.id }}"
class="btn btn-info btn-sm mt-1">

📊 Movimientos

</a>

</td>


</tr>



{% else %}


<tr>

<td colspan="6" class="text-center">

No existen productos

</td>

</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>



{% endblock %}