<div class="sidebar bg-dark text-white p-3">

    <h4 class="text-center mb-4">
        📦 InventarioPro
    </h4>


    <ul class="nav flex-column">


        <!-- DASHBOARD -->

        <li class="nav-item mb-2">

            <a href="/dashboard"
               class="nav-link text-white">

                <i class="bi bi-speedometer2"></i>
                Dashboard

            </a>

        </li>



        <!-- ADMINISTRADOR -->

        {% if session["rol"] == "Administrador" %}


        <li class="nav-item mb-2">

            <a href="/usuarios"
               class="nav-link text-white">

                <i class="bi bi-people"></i>
                Usuarios

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/productos"
               class="nav-link text-white">

                <i class="bi bi-box"></i>
                Productos

            </a>

        </li>

        {% if session["rol"] == "Administrador" %}

        <li class="nav-item">

            <a class="nav-link" href="{{ url_for('auditoria.lista') }}">

                <i class="bi bi-clipboard-data"></i>

                Auditoría

            </a>

        </li>

        {% endif %}


        <li class="nav-item mb-2">

            <a href="/movimientos"
               class="nav-link text-white">

                <i class="bi bi-arrow-left-right"></i>
                Movimientos

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/categorias"
               class="nav-link text-white">

                <i class="bi bi-grid"></i>
                Categorías

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/marcas"
               class="nav-link text-white">

                <i class="bi bi-tags"></i>
                Marcas

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/proveedores"
               class="nav-link text-white">

                <i class="bi bi-truck"></i>
                Proveedores

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/compras"
               class="nav-link text-white">

                <i class="bi bi-cart-plus"></i>
                Compras

            </a>

        </li>


        <li class="nav-item mb-2">

            <a href="/salidas"
               class="nav-link text-white">

                <i class="bi bi-box-arrow-up"></i>
                Salidas

            </a>

        </li>


        {% endif %}



        <!-- ADMINISTRADOR Y VENDEDOR -->

        {% if session["rol"] in ["Administrador", "Vendedor"] %}


        <li class="nav-item mb-2">

            <a href="{{ url_for('pos.punto_venta') }}"
               class="nav-link text-white">

                <i class="bi bi-cart4"></i>
                Punto de Venta

            </a>

        </li>



        <li class="nav-item mb-2">

            <a href="{{ url_for('ventas.lista') }}"
               class="nav-link text-white">

                <i class="bi bi-receipt"></i>
                Ventas

            </a>

        </li>



        <li class="nav-item mb-2">

            <a href="/clientes"
               class="nav-link text-white">

                <i class="bi bi-people-fill"></i>
                Clientes

            </a>

        </li>


        {% endif %}



        <hr>



        <!-- CERRAR SESION -->

        <li class="nav-item">

            <a href="/logout"
               class="nav-link text-danger">

                <i class="bi bi-box-arrow-right"></i>
                Cerrar sesión

            </a>

        </li>


    </ul>


</div>