<div class="sidebar">

    <div class="logo-area">
        <h3>
            📦 InventarioPro
        </h3>
    </div>


    <hr>


    <ul class="menu">

        <li>
            <a href="/dashboard">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>


        <li>
            <a href="/productos">

            <i class="bi bi-box-seam"></i>

            Productos

            </a>
        </li>


        <li>
            <a href="/categorias">

                <i class="bi bi-tags"></i>

                Categorías

            </a>
        </li>

        <li>

        <a href="/marcas">

        <i class="bi bi-award"></i>

        Marcas

        </a>

        </li>


        <li>
            <a href="#">
                <i class="bi bi-truck"></i>
                Proveedores
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-arrow-down-square"></i>
                Entradas
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-arrow-up-square"></i>
                Salidas
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-people"></i>
                Usuarios
            </a>
        </li>


    </ul>


    <div class="logout">

        <a href="/logout" class="btn btn-danger w-100">

            <i class="bi bi-box-arrow-right"></i>

            Cerrar sesión

        </a>

    </div>


</div>