<!-- ==========================================
     FILTRO DE FECHAS
========================================== -->

<div class="dashboard-panel mb-4">

    <div class="row align-items-center">

        <div class="col-md-6">

            <h5 class="mb-0">
                📅 Filtro de periodo
            </h5>

        </div>


        <div class="col-md-6 text-md-end">


            <select id="filtroFecha"
                    class="form-select d-inline-block"
                    style="width:220px;">


                <option value="hoy">
                    Hoy
                </option>


                <option value="7">
                    Últimos 7 días
                </option>


                <option value="mes"
                        selected>
                    Mes actual
                </option>


                <option value="anio">
                    Año actual
                </option>


            </select>


        </div>


    </div>

</div>