<div class="row g-4">


    <!-- =========================
         VENTAS ÚLTIMOS 7 DÍAS
    ========================== -->

    <div class="col-12">

        <div class="dashboard-panel">


            <div class="panel-header d-flex justify-content-between align-items-center">

                <h5 class="mb-0">
                    📈 Ventas últimos 7 días
                </h5>


                <span class="badge bg-success">
                    Tiempo real
                </span>


            </div>



            <div class="chart-container">

                <canvas id="graficoVentas"></canvas>

            </div>


        </div>

    </div>





    <!-- =========================
         PRODUCTOS CATEGORÍA
    ========================== -->

    <div class="col-lg-6">


        <div class="dashboard-panel">


            <div class="panel-header">


                <h5 class="mb-0">

                    📦 Productos por categoría

                </h5>


            </div>



            <div class="chart-container">

                <canvas id="graficoCategorias"></canvas>

            </div>


        </div>


    </div>





    <!-- =========================
         MOVIMIENTOS
    ========================== -->

    <div class="col-lg-6">


        <div class="dashboard-panel">


            <div class="panel-header">


                <h5 class="mb-0">

                    🔄 Entradas / Salidas

                </h5>


            </div>



            <div class="chart-container">

                <canvas id="graficoMovimientos"></canvas>


            </div>



        </div>


    </div>

    <div class="col-lg-6">

    <div class="dashboard-panel">

        <div class="panel-header">

            <h5>
                📊 Ventas vs Compras
            </h5>

        </div>


        <div class="chart-container">

            <canvas id="graficoComparativo"></canvas>

        </div>

    </div>

</div>



<div class="col-lg-6">

    <div class="dashboard-panel">

        <div class="panel-header">

            <h5>
                💰 Ganancias
            </h5>

        </div>


       <div class="chart-container">

            <canvas id="graficoGanancias"></canvas>

        </div>

    </div>

</div>

</div>